<div class="col-md-12 mx-auto">
    <div class="card">

        <div class="card-body">
            <a href="/tipos/add" class="btn btn-primary btn-lg active" role="button">Nuevo Tipo De Perro</a>
            <div class="table-responsive">

                <table id="userList" class="table table-bordered table-hover table-striped">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Titulo</th>
                            <th scope="col">Pan</th>
                            <th scope="col">Salchicha</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each tipos}}
                        <tr>
                            <td>{{title}}</td>
                            <td>{{pan}}</td>
                            <td>{{salchicha}}</td>
                            <td>
                                <a href="/tipos/edit/{{id}} ">
                                    <button class="btn btn-primary btn-block btn-sm">
                                        <i class="fas fa-edit"></i>
                                    </button>
                                </a>
                            </td>
                            <td>
                                <form action="/tipos/delete/{{id}}?_method=DELETE" method="POST">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <button class="btn btn-danger btn-block btn-sm" type="submit">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </form>
                            </td>
                        </tr {{/each}}>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>